<!DOCTYPE html>

<body class="body">

  <header class="header">
    <H1>Match results</H1>
  </header>


  <main class="main">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <H3>List of competition</H3>
          <app-league-table></app-league-table>
        </div>
        <div class="col-8">
          Jakieś wyniki meczów<br>
          Home 2:0 Away
        </div>
      </div>
    </div>

  </main>



  <footer class="footer">
    Copyright &copy; 2022 by Marek Fryger.
  </footer>

</body>
